.DS_Store
.dart_tool/

.packages
.pub/

build/

# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

.flutter-plugins

*/.idea/
.idea/
/.idea/workspace.xml
/.idea/libraries